In [5]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as web

ConnectionError: ERR#0015: error 403, try again later.

In [50]:
start_time = dt.datetime(1970, 1, 1)
end_time = dt.datetime(2021, 1, 1)
gdp_df = web.DataReader('PDB_LV', 'oecd', start_time, end_time)

In [51]:
#gdp_df
print(gdp_df.columns)

MultiIndex([(                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            (                                      'Australia', ...),
            ...
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...),
            ('European Union – 27 countries (from 01/02/2020)', ...)],
           names=['Country', 'Subject', 'Measure'], length=4212)

In [56]:
gdp_df.reset_index()

Country       Time                              Australia  \
Subject            Gross Domestic Product (GDP); millions
Measure                 National currency, current prices
0       1970-01-01                                40372.0
1       1971-01-01                                44548.0
2       1972-01-01                                49821.0
3       1973-01-01                                60362.0
4       1974-01-01                                71256.0
5       1975-01-01                                83349.0
6       1976-01-01                                96204.0
7       1977-01-01                               105058.0
8       1978-01-01                               118751.0
9       1979-01-01                               134611.0
10      1980-01-01                               152357.0
11      1981-01-01                               175856.0
12      1982-01-01                               189410.0
13      1983-01-01                               213684.0
14      1984-01-01                               235492.0
15      1985-01-01                               260862.0
16      1986-01-01                               286354.0
17      1987-01-01                               324570.0
18      1988-01-01                               368280.0
19      1989-01-01                               404708.0
20      1990-01-01                               415340.0
21      1991-01-01                               423289.0
22      1992-01-01                               444235.0
23      1993-01-01                               466621.0
24      1994-01-01                               495812.0
25      1995-01-01                               528928.0
26      1996-01-01                               556628.0
27      1997-01-01                               589220.0
28      1998-01-01                               621388.0
29      1999-01-01                               662160.0
30      2000-01-01                               706896.0
31      2001-01-01                               756034.0
32      2002-01-01                               802694.0
33      2003-01-01                               863620.0
34      2004-01-01                               924926.0
35      2005-01-01                               998904.0
36      2006-01-01                              1088284.0
37      2007-01-01                              1179153.0
38      2008-01-01                              1261261.0
39      2009-01-01                              1304017.0
40      2010-01-01                              1418403.0
41      2011-01-01                              1500176.0
42      2012-01-01                              1536498.0
43      2013-01-01                              1598597.0
44      2014-01-01                              1623305.0
45      2015-01-01                              1657538.0
46      2016-01-01                              1758828.0
47      2017-01-01                              1842635.0
48      2018-01-01                              1946613.0
49      2019-01-01                              1979471.0
50      2020-01-01                              2080419.0
51      2021-01-01                              2309051.0

Country                                                                    \
Subject
Measure USD, current prices, current PPPs USD, constant prices, 2015 PPPs
0                               58848.144                      283519.303
1                               64124.105                      294605.714
2                               69793.489                      302322.546
3                               78827.540                      314738.851
4                               86297.681                      318944.738
5                               96825.009                      327201.486
6                              104254.247                      338963.833
7                              110238.323                      341991.287
8                              123302.750                      355842.025
9                              137936.933                      366643.926
10                             154983.499                      378887.981
11                             178230.502                      391485.447
12                             181863.803                      382776.689
13                             196458.128                      400352.794
14                             211843.077                      421484.391
15                             229054.181                      438201.618
16                             240126.638                      449416.326
17                             261033.072                      475290.757
18                             283021.565                      493710.296
19                             299724.536                      511367.775
20                             304261.841                      509408.868
21                             314020.089                      511592.295
22                             334486.069                      532298.610
23                             355562.086                      553489.010
24                             381226.381                      575003.716
25                             403632.919                      597180.696
26                             424344.874                      620547.395
27                             450588.919                      649175.461
28                             478043.500                      681350.703
29                             510551.679                      707931.362
30                             538993.279                      722383.195
31                             570130.213                      751232.217
32                             600598.648                      774606.043
33                             638188.928                      807268.339
34                             677201.400                      832727.586
35                             719487.043                      855549.616
36                             775395.110                      887871.568
37                             826392.428                      919553.223
38                             852737.657                      936753.347
39                             903969.823                      957423.430
40                             943515.675                      980319.112
41                             992802.546                     1018571.240
42                             997651.363                     1044837.690
43                            1104672.434                     1071784.233
44                            1117601.897                     1094856.917
45                            1124752.510                     1124752.510
46                            1212854.276                     1150421.428
47                            1247085.553                     1183588.597
48                            1323863.624                     1209288.995
49                            1335057.214                     1208673.644
50                            1438731.740                     1235702.154
51                            1604645.774                     1280404.774

Country                                                          \
Subject
Measure As % of the USA (USA=100) Persons/Hours Gap in % points
0                        5.482901           NaN             NaN
1                        5.504924           NaN             NaN
2                        5.456410           NaN             NaN
3                        5.530298           NaN             NaN
4                        5.584732           NaN             NaN
5                        5.746619           NaN             NaN
6                        5.564940           NaN             NaN
7                        5.295271           NaN             NaN
8                        5.243358           NaN             NaN
9                        5.250074           NaN             NaN
10                       5.424111           NaN             NaN
11                       5.557475           NaN             NaN
12                       5.438854           NaN             NaN
13                       5.406056           NaN             NaN
14                       5.246741           NaN             NaN
15                       5.278988           NaN             NaN
16                       5.243362           NaN             NaN
17                       5.376344           NaN             NaN
18                       5.404849           NaN             NaN
19                       5.312776           NaN             NaN
20                       5.102373           NaN             NaN
21                       5.099278           NaN             NaN
22                       5.129897           NaN             NaN
23                       5.184210           NaN             NaN
24                       5.231426           NaN             NaN
25                       5.283327           NaN             NaN
26                       5.256267           NaN             NaN
27                       5.253118           NaN             NaN
28                       5.274778           NaN             NaN
29                       5.301034           NaN             NaN
30                       5.257983           NaN             NaN
31                       5.387772           NaN             NaN
32                       5.495404           NaN             NaN
33                       5.570564           NaN             NaN
34                       5.543018           NaN             NaN
35                       5.517878           NaN             NaN
36                       5.612468           NaN             NaN
37                       5.709406           NaN             NaN
38                       5.773498           NaN             NaN
39                       6.243719           NaN             NaN
40                       6.269636           NaN             NaN
41                       6.364229           NaN             NaN
42                       6.137893           NaN             NaN
43                       6.558568           NaN             NaN
44                       6.367853           NaN             NaN
45                       6.177914           NaN             NaN
46                       6.487550           NaN             NaN
47                       6.402752           NaN             NaN
48                       6.447474           NaN             NaN
49                       6.244136           NaN             NaN
50                       6.831431           NaN             NaN
51                       6.882437           NaN             NaN

Country                                                                      \
Subject        GDP per head of population
Measure National currency, current prices USD, current prices, current PPPs
0                             3188.067977                       4647.079248
1                             3375.262722                       4858.483011
2                             3715.409797                       5204.861660
3                             4433.706097                       5790.035862
4                             5151.540871                       6238.997850
5                             5966.762835                       6931.479265
6                             6818.091457                       7388.622000
7                             7356.213090                       7718.941867
8                             8228.979206                       8544.397654
9                             9218.365016                       9446.129942
10                           10289.268114                      10466.645934
11                           11783.988796                      11943.102531
12                           12474.150762                      11977.173839
13                           13881.443466                      12762.408029
14                           15115.601371                      13597.640281
15                           16522.488172                      14507.843213
16                           17876.566948                      14990.675598
17                           19956.468006                      16049.844871
18                           22276.527020                      17119.413327
19                           24069.131221                      17825.467219
20                           24338.562329                      17829.478937
21                           24490.222171                      18168.253240
22                           25415.937203                      19136.891341
23                           26460.237712                      20162.524440
24                           27846.002640                      21410.596782
25                           29376.891846                      22417.948392
26                           30542.337913                      23283.924872
27                           31982.847528                      24457.955762
28                           33394.312002                      25690.766139
29                           35198.247955                      27139.248205
30                           37148.742958                      28325.132378
31                           39224.164319                      29579.200351
32                           41173.929993                      30807.514055
33                           43792.563144                      32361.372974
34                           46402.444225                      33974.393835
35                           49507.553229                      35659.125481
36                           53214.219354                      37914.777273
37                           56614.924427                      39677.755862
38                           59355.693391                      40130.341707
39                           60115.942964                      41673.535177
40                           64379.805554                      42825.174294
41                           67152.014324                      44440.579499
42                           67587.393054                      43884.635582
43                           69119.253203                      47763.215915
44                           69148.310806                      47606.754942
45                           69597.665435                      47226.759741
46                           72706.182903                      50136.798383
47                           74898.076978                      50690.619546
48                           77918.439560                      52991.214881
49                           78037.310226                      52632.382075
50                           80971.264882                      55996.378044
51                           89713.343254                      62345.152672

Country                                  ...  \
Subject                                  ...
Measure USD, constant prices, 2015 PPPs  ...
0                          22388.754851  ...
1                          22321.354136  ...
2                          22545.756792  ...
3                          23118.179693  ...
4                          23058.505298  ...
5                          23423.600359  ...
6                          24022.768431  ...
7                          23946.398962  ...
8                          24658.458661  ...
9                          25108.330975  ...
10                         25587.797225  ...
11                         26233.168736  ...
12                         25208.880876  ...
13                         26007.912041  ...
14                         27053.955287  ...
15                         27754.832249  ...
16                         28056.255681  ...
17                         29223.664496  ...
18                         29863.556937  ...
19                         30412.490187  ...
20                         29850.916080  ...
21                         29599.183927  ...
22                         30454.304693  ...
23                         31386.180166  ...
24                         32293.601191  ...
25                         33167.676355  ...
26                         34049.613439  ...
27                         35237.228519  ...
28                         36616.796524  ...
29                         37631.303030  ...
30                         37962.624811  ...
31                         38975.040701  ...
32                         39733.167292  ...
33                         40935.075276  ...
34                         41776.958766  ...
35                         42402.641450  ...
36                         43414.579629  ...
37                         44150.704978  ...
38                         44084.170086  ...
39                         44137.777583  ...
40                         44495.643207  ...
41                         45594.057296  ...
42                         45960.265247  ...
43                         46341.214064  ...
44                         46637.881597  ...
45                         47226.759741  ...
46                         47555.958150  ...
47                         48109.641816  ...
48                         48405.056099  ...
49                         47649.922691  ...
50                         48094.334087  ...
51                         49747.447325  ...

Country European Union – 27 countries (from 01/02/2020)  \
Subject        Average hours worked per person employed
Measure                 USD, constant prices, 2015 PPPs
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                                  NaN
33                                                  NaN
34                                                  NaN
35                                                  NaN
36                                                  NaN
37                                                  NaN
38                                                  NaN
39                                                  NaN
40                                                  NaN
41                                                  NaN
42                                                  NaN
43                                                  NaN
44                                                  NaN

In [71]:
gdp_df['Australia','GDP per head of population','USD, constant prices, 2015 PPPs']

Time
1970-01-01    22388.754851
1971-01-01    22321.354136
1972-01-01    22545.756792
1973-01-01    23118.179693
1974-01-01    23058.505298
1975-01-01    23423.600359
1976-01-01    24022.768431
1977-01-01    23946.398962
1978-01-01    24658.458661
1979-01-01    25108.330975
1980-01-01    25587.797225
1981-01-01    26233.168736
1982-01-01    25208.880876
1983-01-01    26007.912041
1984-01-01    27053.955287
1985-01-01    27754.832249
1986-01-01    28056.255681
1987-01-01    29223.664496
1988-01-01    29863.556937
1989-01-01    30412.490187
1990-01-01    29850.916080
1991-01-01    29599.183927
1992-01-01    30454.304693
1993-01-01    31386.180166
1994-01-01    32293.601191
1995-01-01    33167.676355
1996-01-01    34049.613439
1997-01-01    35237.228519
1998-01-01    36616.796524
1999-01-01    37631.303030
2000-01-01    37962.624811
2001-01-01    38975.040701
2002-01-01    39733.167292
2003-01-01    40935.075276
2004-01-01    41776.958766
2005-01-01    42402.641450
2006-01-01    43414.579629
2007-01-01    44150.704978
2008-01-01    44084.170086
2009-01-01    44137.777583
2010-01-01    44495.643207
2011-01-01    45594.057296
2012-01-01    45960.265247
2013-01-01    46341.214064
2014-01-01    46637.881597
2015-01-01    47226.759741
2016-01-01    47555.958150
2017-01-01    48109.641816
2018-01-01    48405.056099
2019-01-01    47649.922691
2020-01-01    48094.334087
2021-01-01    49747.447325
Name: (Australia, GDP per head of population, USD, constant prices, 2015 PPPs), dtype: float64

In [75]:
teste = gdp_df.T.unstack(level=0).T.reset_index(level=-1)['Country']
teste.unique()

array(['Australia', 'Austria',
       'BRIICS economies - Brazil, Russia, India, Indonesia, China and South Africa',
       'Belgium', 'Brazil', 'Bulgaria', 'Canada', 'Chile',
       "China (People's Republic of)", 'Colombia', 'Costa Rica',
       'Croatia', 'Czech Republic', 'Denmark', 'Estonia',
       'Euro area (19 countries)', 'European Union (28 countries)',
       'European Union – 27 countries (from 01/02/2020)', 'Finland',
       'France', 'G7', 'Germany', 'Greece', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Korea',
       'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands',
       'New Zealand', 'Norway', 'OECD - Total', 'Peru', 'Poland',
       'Portugal', 'Romania', 'Russia', 'Slovak Republic', 'Slovenia',
       'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Türkiye',
       'United Kingdom', 'United States'], dtype=object)

In [60]:
import pandas as pd

df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8],
                   'name': ['falcon', 'dog', 'spider', 'fish']})

print(df)

df = df.set_index('name')[['num_legs', 'num_wings']]
df
#print(df.to_json(indent =1,orient='index'))

   num_legs  num_wings  num_specimen_seen    name
0         2          2                 10  falcon
1         4          0                  2     dog
2         8          0                  1  spider
3         0          0                  8    fish

        num_legs  num_wings
name
falcon         2          2
dog            4          0
spider         8          0
fish           0          0

In [41]:
df.set_index('name')[['num_legs', 'num_wings']]

        num_legs  num_wings
name
falcon         2          2
dog            4          0
spider         8          0
fish           0          0